a{
    text-decoration: none;
}
li{
    list-style: none;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}
b{
    color: blue;
}

.bround{
    border-radius: 50%;
}
body{
    background-color:lightgray;
}
.ls{
    display: flex;
    flex-direction: column;
    text-align: left;
}
li:hover {
    background-color: darkgray;
}
.ls a{
    color: black;
}
.bigfont{
    font-size: 60px;
    font-weight: bold;
}
.fc-p{
    color: purple;
}.fc-b{
    color: blue;
}
.mb-5{
    margin-bottom: 15px;
}
table{
    width: 100%;
}
tr{
    margin-top: 5px;
}